---
import "../styles/global.css";
import { ClientRouter } from "astro:transitions";

const { title = "Convalidacions" } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title ?? "Convalidacions CEROCA"}</title>
    <ClientRouter />
  </head>
  <body class="bg-gray-900 text-white min-h-screen font-sans">
    <div class="max-w-6xl mx-auto px-4 py-8">
      <slot />
    </div>
  </body>
</html>

<style is:global>
  @import "tailwindcss";
</style>
